* {
	box-sizing: border-box;
}

/*html{
	font-size: 67.5%;
}*/

h1 {
	text-align: center;
	color: blue;
}

h2{
	text-align: center!important;
	text-transform: uppercase;
}
body{
	max-width: 900px;
	margin: 0 auto;
}
main {
	padding: 20px;

}

input, select, label {
	display: block;
	text-align: center;
	margin: 10px auto;

}


fieldset {
	max-width: 350px;
	padding: 30px;
	margin: 0 auto;
	background-color: grey;
}

button {
	padding: 0 15px;
	margin:10px 100px;
	text-align: center;
	
}

